    .card {
        color: white;
        display: inline-block;
        background-color: #0c0c0c;
        width: 20%;
        padding: 10px 10px 10px 10px;
        text-align: center;
        box-shadow: 0 6px 10px 5px rgba(0, 0, 0, 0.2);
    }